# [submodule "linux/Fast-RTPS"]
# 	path = linux/Fast-RTPS
# 	url = https://hub.fastgit.xyz/eProsima/Fast-RTPS.git
[submodule "stm32/Middlewares/Third_Party/embeddedRTPS"]
	path = stm32/Middlewares/Third_Party/embeddedRTPS
	url = https://hub.fastgit.xyz/embedded-software-laboratory/embeddedRTPS
